body, html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: fixed;

    font-family:verdana,helvetica,arial,sans-serif;
    /* font-size:8px; */
}

body {
    display: grid;
    grid-template-rows: 1fr;
}

.done {
    color: #aaa;
}

iframe {
    border: none;
}

#editor {
    width: 100%;
    height: 100%;
}

#ace-editor {
    width: 100%;
    height: 100%;
}

.tree-title {
    font-size: 8px;
}

.datagrid-cell {
    font-size: 8px;
    word-break: break-all;
}

#tabs .tabs-inner {
    height: 25px !important;
    line-height: 20px !important;
}

#tabs .tabs-title {
    font-size: 8px !important;
}

html, body {
    overflow: hidden !important;
}

iframe {
    width: 100%;
    height: calc(100% - 3px);
}